.App {
  text-align: center;
  background-color: #EFC050;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
	height: 350px;
	width: 50%;
}

.map-one{
	border: 1px solid black;
	width: 47%;
	float: left;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
.map-two{
	border: 1px solid black;
	width: 47%;
	float: right;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
.map-three{
	border: 1px solid black;
	width: 96%;
	float: left;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
div#eleven {
    width: 70%;
    float: right;
}
.direction-container{
	max-height: 460px;
	overflow: auto;
}
.customClass{
	height: 96%;
}
